<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View all tickets</title>
</head>
<body>
    <!-- post the info back to upcoming_flight_search route and search -->
    <form action="/upcoming_flight/search" method ="POST">
    <!-- serach for upcoming flights -->
    <h1>Upcoming flights</h1>
    <div>
        <span>Departure Date</span>
        <input type="date" name = "departure_date">
        <span>Arrival Date</span>
        <input type="date" name = "arrival_date">
    </div>

    <div>
        <span>Departure Airport</span>
        <input type="text" name = "departure_airport">
        <span>Departure City</span>
        <input type="text" name = "departure_city">
    </div>

    <div>
        <span>Arrival Airport</span>
        <input type="text" name = "arrival_airport">
        <span>Arrival City</span>
        <input type="text" name = "arrival_city">
        <button type="submit"> Search </button>
    </div>
    </form>

    <table border = "1" cellspacing="0">
        <tr>
            <td>airline_name</td>
            <td>flight_num</td>
            <td>departure_airport</td>
            <td>departure_time</td>
            <td>arrival_airport</td>
            <td>arrival_time</td>
            <td>price</td>
            <td>status</td>
            <td>airplane_id</td>
            {% if session['role']  == "Customer" %}
            <td> Purchase </td>
            {% endif %}

            {% if session['role'] == "Booking agent" %}
            <td>Customer Email</td>
            <td>Buy</td>
            {% endif %}
        </tr>
        {%for row in upcoming_flight%}
        <tr>
            <!-- if select all from db, then output is a dictionary,
            if select specifically then the output is a list -->
            <td>{{row['airline_name']}}</td>
            <td>{{row['flight_num']}}</td>
            <td>{{row['departure_airport']}}</td>
            <td>{{row['departure_time']}}</td>
            <td>{{row['arrival_airport']}}</td>
            <td>{{row['arrival_time']}}</td>
            <td>{{row['price']}}</td>
            <td>{{row['status']}}</td>
            <td>{{row['airplane_id']}}</td>
            {% if session['role']  == "Customer" %}
                {% if row['status'] == "Upcoming"%}
                    <td>
                        <a href = "{{ url_for('customer_purchase', customer_email = username, flight_num = row['flight_num'],airline_name = row['airline_name']) }}";><button type ="button">Buy</button> </a>
                        </td>
                {% else %}
                    <td><button type="button" disabled> Buy</button>
                    </td>
                {% endif %}
            {% endif %}

            {% if session['role'] == "Booking agent" %}
                <!-- 之后改成可以选择的 -->
                {% if row['status'] == "Upcoming" and row['airline_name'] in session['company']%}
                <form action="{{url_for('agent_purchase', agent_email = username, flight_num = row['flight_num'], airline_name = row['airline_name'])}} "  method ="POST">
                <td>
                    <input type="text" name = "customer_email">
                </td>
                <td>
                    <button type="submit"> Buy </button> 
                </td>
                </form>
                {% else %}
                <td>
                </td>
                    <td><button type="button" disabled> Buy</button>
                    </td>
                {% endif %}

           
            {% endif %}
           
        </tr>
        {% endfor %}
    </table>
    {% if error1 %}
    <p class="error"><strong>Error: </strong> {{error1 }}</p>
    {% endif %}
    {% if session['role'] == "Booking agent" %}
    <button onclick="window.location.href='/agent_home/{{session.username|e}}'";>Go Back</button>
    
    {% elif session['role'] == "Customer" %}
    <button onclick="window.location.href='/customer_home/{{session.username|e}}'";>Go Back</button>
    {% else %}
    <button onclick="window.location.href='/'";>Go Back</button>
    {% endif %}
</body>
</html>
