<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View all tickets</title>
</head>
<body>
    <form action="/airline_staff_home_admin/add_new_booking_agents" method ="POST"></form>
    <h1>  Hi {{session['username']}}, welcome to add new booking agent page </h1> 
    <h2> Here are all the booking agents works for your airline:</h2>
    <table border = "1" cellspacing="0">
        <tr>
            <td>Booking Agent ID</td>
            <td>Booking Agent Email</td>
        </tr>
        {%for row in search_booking_agent%}
        <tr>
            <!-- if select all from db, then output is a dictionary,
            if select specifically then the output is a list -->
            <td>{{row['booking_agent_id']}}</td>
            <td>{{row['booking_agent_email']}}</td>
        </tr>
        {% endfor %}
    </table>
    <h2> You can add the booking agents works for your airline below:</h2>
    <form action="/airline_staff_home_admin/add_new_booking_agents/action" method="POST">
        <input type="text" name = "booking_agent_email" placeholder="booking_agent_email" required/> </br>
        <input type="submit" value = Add />
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>
    
    <div><button onclick="window.location.href='/airline_staff_home_admin'";> Go back</button> <br></div>

</body>
</body>
</html>