<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View all tickets</title>
</head>
<body>
    <form action="/airline_staff_home_admin_operator" method ="POST">
        <h1>  Welcome, {{session['role']}} for {{airline_name}}: {{session['username']}}! Permission: Admin & Operator  
        </h1>
    </form>
    <button onclick="window.location.href='/login'";> Log Out </button><br>
    <div>
        <h2>View my flights</h2>
            <form action="/airline_staff_home_admin_operator/view_my_flight" method="POST">
                <div>
                    <span>Departure Date</span>
                    <input type="date" name = "departure_date">
                    <span>Arrival Date</span>
                    <input type="date" name = "arrival_date">
                    <span>Flight Number</span>
                    <input type="text" name = "flight_num">
                    <span>Departure Airport</span>
                    <input type="text" name = "departure_airport">
                    <span>Arrival Airport</span>
                    <input type="text" name = "arrival_airport">
                    <span>Departure City</span>
                    <input type="text" name = "departure_city">
                    <span>Arrival City</span>
                    <input type="text" name = "arrival_city">
                    <button type="submit"> Search </button>
                </div>
            </form>
        <table border = "1" cellspacing="0">
            <tr>
                <td>airline_name</td>
                <td>flight_num</td>
                <td>departure_airport</td>
                <td>departure_time</td>
                <td>arrival_airport</td>
                <td>arrival_time</td>
                <td>price</td>
                <td>status</td>
                <td>airplane_id</td>
            </tr>
            {%for row in my_flight%}
            <tr>
                <!-- if select all from db, then output is a dictionary,
                if select specifically then the output is a list -->
                <td>{{row['airline_name']}}</td>
                <td>{{row['flight_num']}}</td>
                <td>{{row['departure_airport_name']}}</td>
                <td>{{row['departure_time']}}</td>
                <td>{{row['arrival_airport_name']}}</td>
                <td>{{row['arrival_time']}}</td>
                <td>{{row['price']}}</td>
                <td>{{row['status']}}</td>
                <td>{{row['airplane_id']}}</td>
            </tr>
            {% endfor %}
        </table>
        {% if error0 %}
        <p class="error"><strong>Error: </strong> {{error0}}</p>
        {% endif %}
    </div>

    <div>
        <h2>Customer List for a Flight</h2>
            <form action="/airline_staff_home_admin_operator/customer_list_for_flights" method="POST">
                <div>
                    <span>Flight Number</span>
                    <input type="text" name = "flight_num">
                    <button type="submit"> Search </button>
                </div>
            </form>
        <table border = "1" cellspacing="0">
            <tr>
                <td>customer_name</td>
                <td>customer_email</td>
            </tr>
            {%for row in customer_list%}
            <tr>
                <!-- if select all from db, then output is a dictionary,
                if select specifically then the output is a list -->
                <td>{{row['customer_name']}}</td>
                <td>{{row['customer_email']}}</td>
            </tr>
            {% endfor %}
        </table>
        {% if error1 %}
        <p class="error"><strong>Error: </strong> {{error1}}</p>
        {% endif %}
    </div>




    <div>
        <h2>Update Airline Information</h2>
        <button onclick="window.location.href='/airline_staff_home_admin_operator/create_new_flight'";> Create New Flights</button> <br>
        <button onclick="window.location.href='/airline_staff_home_admin_operator/add_airplane'";> Add Airpline to the System</button> <br>
        <button onclick="window.location.href='/airline_staff_home_admin_operator/add_airport'";> Add Airport to the System</button> <br>
        <button onclick="window.location.href='/airline_staff_home_admin_operator/change_status'";> Change Status of Flights</button> <br>
    </div>


    <div>
        <h2>View the Top 5 Booking Agent(default last period)</h2>
            <form action="/airline_staff_home_admin_operator/top_5_booking_agent_by_month" method ="POST">
                <h3>Top 5 booking agents in past month(tickets sales)</h3>  
                <div>
                    <span>Search Month</span>
                    <input type="month" name = "month"> <!--need to check month variable, maybe update-->
                    <button type="submit"> Search </button>
                </div>
            </form>
        <table border = "1" cellspacing="0">
            <tr>
                <td>Rank</td>
                <td>Bookings Agents ID</td>
                <td>Booking Agents Email Address</td>
                <td>Number of Tickets Sold</td>
            <tr>
            {%for row in ranking_for_month%}
            <tr>
                <td>{{row['rank']}}</td>
                <td>{{row['booking_agent_id']}}</td>
                <td>{{row['booking_agent_email']}}</td>
                <td>{{row['num_of_ticket']}}</td>
            </tr>
            {% endfor %}
        </table>
        {% if error2 %}
        <p class="error"><strong>Error: </strong> {{error2}}</p>
        {% endif %}


            <form action="/airline_staff_home_admin_operator/top_5_booking_agent_by_year" method ="POST">
                <h3>Top 5 booking agents in past year(tickets sales)</h3>
                <div>
                    <span>Search Year</span>
                    <input type="year" name = "year"> <!--need to check month variable, year update-->
                    <button type="submit"> Search </button>
                </div>
            </form>
        <table border = "1" cellspacing="0">
            <tr>
                <td>Rank</td>
                <td>Bookings Agents ID</td>
                <td>Booking Agents Email Address</td>
                <td>Number of Tickets Sold</td>
            <tr>
            {%for row in ranking_for_year%}
            <tr>
                <td>{{row['rank']}}</td>
                <td>{{row['booking_agent_id']}}</td>
                <td>{{row['booking_agent_email']}}</td>
                <td>{{row['num_of_ticket']}}</td>
            </tr>
            {% endfor %}
        </table>
        {% if error3 %}
        <p class="error"><strong>Error: </strong> {{error3 }}</p>
        {% endif %}

                <h3>Top 5 booking agents in last year(commission received)</h3>
                <table border = "1" cellspacing="0">
                    <tr>
                        <td>Rank</td>
                        <td>Bookings Agents ID</td>
                        <td>Booking Agents Email Address</td>
                        <td>commission Received</td>
                    <tr>
                    {%for row in ranking_for_commission_received%}
                    <tr>
                        <td>{{row['rank']}}</td>
                        <td>{{row['booking_agent_id']}}</td>
                        <td>{{row['booking_agent_email']}}</td>
                        <td>{{row['commission_fee']}}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% if error4 %}
                <p class="error"><strong>Error: </strong> {{error4 }}</p>
                {% endif %}
    </div>


    <div>
        <h2>Customer Search Service Section</h2>
            <h3>Most frequent custormer within the last year: {{frequent_customer_name}}, Email Address: {{frequent_customer_email}}</h3>
        </form>
        
        <form action="/airline_staff_home_admin_operator/frequent_custormer" method ="POST">
            <h3>Search for particular customer</h3>
            <div>
                <span>Customer Email</span>
                <input type="text" name = "customer_email">
                <button type="submit"> Search </button>
            </div>
        </form>
        <table border = "1" cellspacing="0">
            <tr>
                <td>customer_name</td>
                <td>customer_email</td>
                <td>airline_name</td>
                <td>flight_num</td>
                <td>departure_airport</td>
                <td>departure_time</td>
                <td>arrival_airport</td>
                <td>arrival_time</td>
            </tr>
            {%for row in search_customer%}
            <tr>
                <!-- if select all from db, then output is a dictionary,
                if select specifically then the output is a list -->
                <td>{{row['customer_name']}}</td>
                <td>{{row['customer_email']}}</td>
                <td>{{row['airline_name']}}</td>
                <td>{{row['flight_num']}}</td>
                <td>{{row['departure_airport_name']}}</td>
                <td>{{row['departure_time']}}</td>
                <td>{{row['arrival_airport_name']}}</td>
                <td>{{row['arrival_time']}}</td>
            </tr>
            {% endfor %}
        </table>
        {% if error5 %}
        <p class="error"><strong>Error: </strong> {{error5}}</p>
        {% endif %}
    </div>


    <div>
        <h2>Ticket Report</h2> 
        <form  method="POST" action="/view_report">
            <div class="input-group mb-3">
              <span >Begin Date</span>
              <input type="date" name = "begin_date" class="form-control"><br>
              <span >End Date</span>
              <input type="date" name = "end_date" class="form-control">
              <button type="submit">Search</button>
            </div>
        </form>
        <!-- return an image -->
        <img src="{{bar_chart}}" align="middle"/>
    </div>


    <div>
        <h2>Revenue Earned Division Pie Chart</h2> 
        <form  method="POST" action="/comparison_of_revenue_earned_last_month"></form>
        <h3> for last month</h3>
        <!-- return an image -->
        <img src="{{pie_chart_last_month}}" align="middle"/>
        <h3> for last year</h3>
        <!-- return an image -->
        <img src="{{pie_chart_last_year}}" align="middle"/>
    </div>

    <div>
        <h2>Most popular destinations</h2>
            <h3>Top 3 most popular destinations in last 3 months</h3>
        <table border = "1" cellspacing="0">
            <tr>
                <td>Rank</td>
                <td>top 3 most popular destinations for last 3 month</td>
            <tr>
            {%for row in ranking_last_3_month%}
            <tr>
                <td>{{row['rank']}}</td>
                <td>{{row['airport_city']}}</td>
            </tr>
            {% endfor %}
        </table>
            <h3>Top 3 most popular destinations in last 3 months</h3>
        <table border = "1" cellspacing="0">
            <tr>
                <td>Rank</td>
                <td>top 3 most popular destinations for last year</td>
            <tr>
            {%for row in ranking_last_year%}
            <tr>
                <td>{{row['rank']}}</td>
                <td>{{row['airport_city']}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <h2>Grant New Permissions for Other Staffs</h2>
        <button onclick="window.location.href='airline_staff_home_admin_operator/grant_new_permissions'";> Grant New Permissions</button> <br>
    </div>

    <div>
        <h2>Add Booking Agents</h2>
        <button onclick="window.location.href='airline_staff_home_admin_operator/add_new_booking_agents'";> Add New Booking Agents</button> <br>
    </div>
    
</body>
</body>
</html>