<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <title>staff_register</title>
    <style>
        p {
          background-color: yellow;
        }
        .content-table{
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            min-width: 400px;
            border-radius: 5px 5px 0 0 ;
            overflow: hidden;
        }
        .content-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }
        .content-table th,
        .content-table td{
            padding: 12px 15 px;
        }
        .content-table tbody tr{
            border-bottom: 1px solid #dddddd;
        }
        .content-table tbody tr:nth-of-type(even){
            background-color: #f3f3f3;
        }
        .button{
            position: relative;
            text-align: center;
            color:  #009879;
            font-weight: 400;
            transition: 1.5s;
        }
    </style>
</head>
<body>
    <h1>Welcome to Register, New Staff!</h1>
    <h2>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    <ion-icon name="airplane-outline" ></ion-icon>
    </h2>
    <form action="/registerAuth_staff" method="POST">
        <table ID='table1'>
            <!-- Select permission type -->
            <!-- <tr>
                <td>
                    Permission Type
                </td>
                <td>
                    <select name='permission' id='staffPermission' > 
                        <option value='Admin'> Admin </option>
                        <option value='Operator'> Operator </option>
                    </select>
                </td>
            </tr> -->
            <!-- Email_address -->
            <tr>
                <td>
                    Email address
                </td>
                <td>
                    <input type="text" name = "email" required/>
                </td>
            </tr>
            <!-- Password -->
            <tr>
                <td>
                    Password: 
                </td>
                <td>
                    <input type="password" name = "password" required/>
                </td>
            </tr>
            <!-- Password2 -->
            <tr>
                <td>
                    Confirm your password again: 
                </td>
                <td>
                    <input type = "password" name = "password2" required/>
                </td>
            </tr>
            <!-- First Name -->
            <tr>
                <td>
                    First name: 
                </td>
                <td>
                    <input type = "text" name = "first_name" placeholder = "" required/>
                </td>
            </tr>
            <!-- Last Name -->
            <tr>
                <td>
                    Last name: 
                </td>
                <td>
                    <input type = "text" name = "last_name" placeholder = "" required/>
                </td>
            </tr>
            <!-- Date of Birth -->
            <tr>
                <td>
                    Date of Birth: 
                </td>
                <td>
                    <!-- <script>
                        document.getElementById('birthday').max = new Date().toISOString().split("T")[0];
                    </script> -->
                    <input type="date" name="date_of_birth" min='1900-01-01' > 
                </td>
            </tr>
            <!-- Airline staff Work For -->
            <tr>
                <td><span>Airline you work for</span></td>
                    <td><select name="airline_name" required>
                        <option select=“selected”></option>
                        {% for i in airlines %}
                        <option value = "{{i}}" > {{i}}</option>
                        {% endfor %}
                    </td>
                </tr>
        </table>
        
        <h2>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
            <ion-icon name="airplane-outline" ></ion-icon>
        </h2>
        
        <input class = 'button' type="submit"  name="submit" value="REGISTER" /><br>
        <a href="/"><button class = 'button' type="button">HOME</button></a><br>
        <a href="/login"><button class = 'button' type="button">LOGIN</button></a><br>
    </form>
    
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
    {% if success %}
        <p class="error"><strong>Success: </strong> You have successfully registered for {{success}} </p>
    {% endif %}
</body>
</html>

