<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View all tickets</title>
</head>
<body>
    <h1>  Hi Admin, please add a new booking agent below:
    </h1>
    <form action="/add_new_booking_agents" method="POST">
        <input type="text" name = "booking_agent_email" placeholder="booking_agent_email" required/> </br>
        <input type="submit" value = Add />
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>
    
    <a href="/">Go back</a>

</body>
</body>
</html>